<ul class="list-inline">
    <li><a href="{{ path('mediation_edit', {'first_student':mediation.firstStudent.id, 'id': mediation.id, 'second_student': mediation.secondStudent.id}) }}">Editar</a> </li>
</ul>