<div class="tab-pane fade"
     id="historical">
    <h4>Cursos anteriores</h4>
    <ul>
    {% for course in student.historicalCourses %}
       <li><a href="{{ path('student_show', {'id': student.id, 'selected_course_id': course.id}) }}"> {{ course.getRealYear }}
               {{ course.getTitle }}</a></li>
    {% endfor %}
    </ul>
</div>