<div class="tab-pane fade"
     id="mediation_needed">
    <h4>Mediaciones que ha necesitado</h4>
    {% for mediation in mediation_needed %}
        <div class="alert  {{ cycle(['alert-info', 'alert-success','alert-warning','alert-danger'], loop.index0) }}">
            <a href="{{ path('mediation_show', {'id': mediation.id}) }}">Mediación con {{ mediation.getOtherStudent(student) }}</a> ({{ mediation.getDate|localizeddate('long','none','es') }})
        </div>
    {% endfor %}
</div>